includes:
    - ../../../../../../vendor/ekino/phpstan-banned-code/extension.neon
    - ../../../../../../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../../../../../../vendor/phpstan/phpstan-doctrine/extension.neon
    - ../../../../../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 8
    symfony:
        containerXmlPath: ../../../../../../var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - ../../../../../../var/cache/dev/Symfony/Config
    scanFiles:
        - ../../../../../../vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
